# Clés d'API et variables d'environnement (À NE JAMAIS COMMITTER !)
.env
.env.local
.env.*.local

# Environnement virtuel Python
venv/
.venv/
__pycache__/
*.pyc

# Dépendances Node.js / Next.js
node_modules/
.next/
out/

# Fichiers systèmes ou IDE
.DS_Store
.vscode/
.idea/